

html { 
  background: url('../images/bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html body{font-family:"Segoe UI"; font-size:13px; color:#333;}
ul, ol {
    list-style: none;
    padding-left:0;
    margin-bottom:0 !important;
}
.overflow-div{
    overflow: hidden;
}
.logo{
    display: block;
    height: 69px;
    overflow: hidden;
    float:left;
    position: relative;
    background: url(../images/logo.png)no-repeat center center;
    width: 200px;
    background-size: 100%;
}
nav{
    background: #35b0d4;
    position: static !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

.navbar-toggle .icon-bar{
    background: #fff;
}
button.navbar-toggle{
    margin-top: 17px;
}
.nav>li>a{display:block; text-transform:uppercase; color:#FFF; font-size:18px;}
.nav>li>a:focus, .nav>li>a:hover{color:#030F3A;background:transparent !important;}

/***footer*/
footer{border-top:7px solid #35b0d4; background:url(../images/fBg.png) 0 0 repeat;position:relative;}
.fData h4 {
    color: #FFF;
    padding: 0 0 10px 0;
}
.fData h4 {
    font-family: "Segoe UI Light";
    font-size: 24px;
    font-weight: normal;
}
.navbar-nav a:hover,.hNav a.active{color:#030F3A;}
.bodyBg{position:fixed; top:0; left:0; width:100%; height:100%; text-align:center}
  .hSocialR a{display:inline-block; width:24px; height:24px; margin:2px 0 0 8px; background:url(../images/social.png) 0 0 no-repeat;}
    .hSocialR a.fb{background-position:0 0}
    .hSocialR a.google{background-position:-34px 0}
    .hSocialR a.twitter{background-position:-68px 0}
    .hSocialR a.link{background-position:-102px 0}
    .hSocialR a.pin{background-position:-136px 0}
    .hSocialR a.rss{background-position:-170px 0}
    .hSocialL{margin:5px;}
    .hSocialL{padding:5px 10px;}
.hSocialL span{display:inline-block; padding:0 5px 0 20px;}
.hSocialL span a{color:#888888;}
.hSocialL span.msg{background:url(../images/msg.png) 0 center no-repeat;}
.hSocialL span.mail{background:url(../images/mail.png) 0 center no-repeat;}
.hSocialL span.phone{background:url(../images/phone.png) 0 center no-repeat;color:#888888;}
.fLeft p{font-size:14px; color:#888888; padding:0 0 10px 25px;}
.fLeft p.add{background:url(../images/loc.png) 0 5px no-repeat;}
.fLeft p.cont{background:url(../images/fPhone.png) 0 5px no-repeat;}
.fLeft p.email{background:url(../images/fMsg.png) 0 5px no-repeat;}
.fMid li{padding:0 0 2px 0;}
.fMid a{color:#888888; font-size:14px;}
.fMid a:hover{text-decoration:underline;color: #888888;}
.fMid ul{padding:0;}
.fRight p{clear:both; padding:0 0 10px 0}
.fRight  input[type="text"],.fRight  textarea{width:100%;vertical-align:top; color:#999999; background:#666666; border:1px solid #666666; font-family:"Segoe UI"; font-size:14px;  margin:0 5px 0 0; padding:5px; cursor:text}
.fRight .row{margin-bottom:10px;}
.fRight  textarea{height:70px;resize:none}
.fRight  input[type="button"]{cursor:pointer; background:#088add; color:#FFF; font-size:13px; padding:8px 30px; border:none; overflow:visible; line-height:1.2}
.fRight  input[type="button"]::-moz-focus-inner{border:0; padding:0;}
.copy{text-align:center; color:#888; padding:15px 0;}


.main-bg{background: #35b0d4;}
.hIntro .mBg{position:absolute; top:35px; left:3%; height:160px; width:160px; background:url(../images/motorBg.png) center center no-repeat;background-size: 100%;  opacity:0.3; filter:alpha(opacity=30)}
.hIntro{clear:both;position:relative;padding:15px 0 0 0;}
.hIntro .hIntroL{color:#FFF;}
.hIntroL h1{font-size:38px; font-weight:normal; font-family:"Segoe UI Light";}
.hIntroL p{font-size:20px; padding:5px 0;}

.motar-image{position: relative;z-index: 1;width: 250px;float:right}

.cData{padding:20px 0;}
.container h2{margin:0;font-size:22px; color:#030F3A; font-weight:normal; border-left:6px solid #ff6600; padding:2px 0 2px 10px;}
.bestSell{clear:both; padding:20px 0 15px 0;}
.bestSell li{width:165px; float:left; height:153px; background:#FFF url(../images/boxCut.png) top right no-repeat; border:1px solid #cccccc; text-align:center; color:#666666; font-size:15px;}
.bestSell li div{padding:8px 0;}
.bestSell li div a{display:block;}
p.more a{display:inline-block; color:#333; font-size:14px; background:url(../images/moreArrowBalck.png) right center no-repeat; padding:0 25px 0 0; }

.newL{position:relative; font-size:15px; color:#666666; padding:20px 0 0 170px;}
.newL img{position:absolute; top:20px; left:0; z-index:99;}
.newIcon{position:absolute; top:25px; left:75px; background:url(../images/newBg.png) center center no-repeat; height:66px; width:63px; z-index:100; text-align:center;color:#FFF; font-size:15px; padding-top:23px;}
.newL h3,.fData h4{font-family:"Segoe UI Light";font-size:24px; font-weight:normal;}
.newL span{padding:5px 0 10px 0;display:block;}


.abHome{clear:both;}
.aRight{ padding-left:15px;}
.aRight span,.about-txt{padding:5px 0 10px 15px;display:block;font-size:15px; color:#666666;}
.aRight p.more{padding-left:15px;}

.testmonial{clear:both;font-size:15px; color:#666666;padding:5px 0 10px 15px;}
.testmonial span{display:block;}
.testmonial span img{vertical-align:bottom;}
.testmonial span img:first-child{vertical-align:baseline}
.testmonial a{color:#2862a9; font-size:14px;}
.testmonial p.more{padding-top:10px;}

.abt-me{padding-top:10px}
.spacing-div{padding:20px 0;}


/**About us*/
.about-us{font-size:13px; color:#666}
.innerBg{border-bottom:2px solid #666;}
.aboutUs,.products{padding:20px 0; }
.abRight ol{padding:15px 0;}
.abRight ol li{padding:0 0 4px 10px; background: url(../images/bullet.png) 0 7px no-repeat}

.abRight ul{padding:15px 0 5px 0; width:500px;}
.abRight .jobs span{margin:5px  0; padding:5px 10px; background:#088ADD; color:#FFF;display: block;} /*030F3A*/
.abTag p{padding:5px 0;}
.abTag .process{padding-top:10px; padding-bottom:5px;}
.abTag .process div span{ margin:5px 0 ; padding:5px 57px 5px 10px;background:#088ADD; color:#FFF; font-size:15px; display: block;}

/**Products*/
.productRow div h3{background:#ff7800;color:#fff;padding:5px 10px;font-weight: normal;margin:0;font-size:15px }
.product-page .productBox{  overflow:hidden;}
div.productRow img{padding:0;}
.productRow{padding:15px 0;}
.productRow div a{display: inline-block;width:100%;}
.productRow > div{margin:5px 0}

/* landscape Media */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .col-xsl-3{ width: 25%; }
    .col-xls-6{width:50%;}
    .abt-me{padding-top:0}
      .spacing-div{padding:20px 0;}
      .hIntroR{text-align: center;}
      .motar-image{width: 272px;float:none;}
      .hIntro .mBg{
              left: 16%;
    height: 180px;
    width: 180px;
      }
}

/*Desktop and tablet Media queries*/
 @media only screen and (min-width : 768px) {
     nav{
        height:107px;
    }
    nav .container{
        padding-top:20px;
    }
    .nav>li>a{padding:5px 11px;font-size: 15px;}
    .nav > li {    margin: 0 0 0 3px;}
    ul.nav{padding: 14px 0 0 0;}
    .logo{width: 170px;background-size: 100%;}
    .hSocial{overflow: hidden;float: right;}
    .hSocialL{background:url(../images/sBg.png) 0 center repeat-x; padding:5px 10px;}
    .hSocialL span{display:inline-block; padding:0 5px 0 20px;}
    .hSocialL span a{color:#333;}
    .hSocialL span.msg{background:url(../images/msg.png) 0 center no-repeat;}
    .hSocialL span.mail{background:url(../images/mail.png) 0 center no-repeat;}
    .hSocialL span.phone{background:url(../images/phone.png) 0 center no-repeat;    color: #333;}

    .hSocialR a{display:inline-block; width:24px; height:24px; margin:2px 0 0 8px; background:url(../images/social.png) 0 0 no-repeat;}
    .hSocialR a.fb{background-position:0 0}
    .hSocialR a.google{background-position:-34px 0}
    .hSocialR a.twitter{background-position:-68px 0}
    .hSocialR a.link{background-position:-102px 0}
    .hSocialR a.pin{background-position:-136px 0}
    .hSocialR a.rss{background-position:-170px 0}

    .motar-image{width:280px;}
    .hIntro .mBg{left: -5%;height: 200px; width: 200px;}
    .bestSell li{width:168px;}

    .abt-me{padding-top:0}

    .spacing-div{padding:0;}
 }

 /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .nav>li>a{padding:5px 11px;font-size: 18px;}
         .logo{width: 245px;background-size: 100%;position: relative;}
        .hSocialL{ margin-right: 56px;}
        .main-bg{height:332px;}
        .motar-image{position: relative;z-index: 1;width:335px}
        .hIntro .mBg{left: 20%; height:230px; width:235px; }
    }
